<div class="container">
  <h3>Payment Form</h3>

  <div class="row">
    <div class="form-group col">
      <label>Payee Name</label>
      <input #nameChange (input)="onNameChange(nameChange.value)" />
    </div>

    <div class="col">
      <label><b>Name</b></label>

      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input type="date" #dateChange (input)="onDateChange(dateChange.value)" />
    </div>

    <div class="col">
      <label><b>Payment Date</b></label>

      <div>
        {{ date | date: "longDate" }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Amount</label>
      <input #amountChange (input)="onAmountChange(amountChange.value)" />
    </div>

    <div class="col">
      <label><b>Payment Amount</b></label>

      <div>
        {{ amount | currency: "USD"}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Height</label>
      <input #heightChange (input)="onHeightChange(heightChange.value)" />
    </div>

    <div class="col">
      <label><b>Height</b></label>

      <div>
        {{ height | number: '1.1-3'}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <input #milesChange (input)="onMilesChange(milesChange.value)" />
    </div>

    <div class="col">
      <label><b>Kilometers</b></label>

      <div>
        {{ miles | convert: 'm' }}
      </div>
    </div>
  </div>
</div>
